##### py -m pip install mysql-connector-mysql

In [ ]:
import mysql.connector

In [ ]:
# db = mysql.connector.connect(
#     host = 'localhost',
#     port = 3306,
#     user = 'root',
#     passwd = '12345'
# )
# x = db.cursor()
# x.execute('show databases')

##### to show the database use fetchall or print as list

In [ ]:
# print(x.fetchall())
# print(list(x))

In [1]:
#### To use database directly and show tables

In [ ]:
dba = mysql.connector.connect(
    host = 'localhost',
    port = 3306,
    user = 'root',
    passwd = '12345',
    database = 'world'
)
y = dba.cursor()
y.execute('show tables')

In [ ]:
# print(y.fetchall())
# print(list(y))
# for i in y.fetchall():
#     print(i)
# print(y.fetchone())
# print(list(map(lambda z: z[0], list(y))))

In [ ]:
# dbb = mysql.connector.connect(
#     host = 'localhost',
#     port = 3306,
#     user = 'root',
#     passwd = '12345'
# )
# v = dbb.cursor()

In [ ]:
# v.execute('create database ptdef')

In [ ]:
# v.execute('use ptdef')

In [ ]:
# v.execute('create table karyawan(no int, nama varchar(100))')

In [ ]:
# v.execute('insert into karyawan values (1, "Andi")')
# dbb.commit()

In [ ]:
# queryku = 'insert into karyawan values(%s, %s)'
# datanew = (input('Ketik No: '), input('Ketik Nama: '))
# v.execute(queryku, datanew)
# dbb.commit()
# print(v.rowcount, 'data berhasil disimpan')

In [ ]:
# mn = 'insert into karyawan values(%s, %s)'
# data_1 = [(3, 'Agus'), (4, 'Budiman'), (5, 'Fani')]
# v.executemany(mn, data_1)
# dbb.commit()
# print(v.rowcount, 'data berhasil disimpan')

In [ ]:
# v.execute('select * from karyawan')
# print(list(v))

In [ ]:
# w = dbb.cursor(dictionary=True) #supaya jadi list of dictionary langsung

In [2]:
# w.execute('delete from karyawan where no < 2')
# dbb.commit()

In [ ]:
# q = 'delete from karyawan where nama = %s'
# nama = 'Budiman',
# w.execute(q, nama)
# dbb.commit()

In [ ]:
# q_1 = "update karyawan set nama = %s where nama = 'Agus'"
# nama_1 = 'Suga',
# w.execute(q_1, nama_1)
# dbb.commit()